body {
  background: #C9C4C4;
  padding: 0;
  margin: 0;
}

.main-content {
  padding: 8px;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.57);
  height: 100%;
}

.modal {
  background: white;
  padding: 10px;
  width: 70%;
  margin: 20px auto;
  min-height: 400px;
}

.close-modal {
  float: right;
}
